alembic==1.14.0 ; python_full_version == "3.12.7"
annotated-types==0.7.0 ; python_full_version == "3.12.7"
anyio==4.6.2.post1 ; python_full_version == "3.12.7"
asyncpg==0.30.0 ; python_full_version == "3.12.7"
certifi==2024.8.30 ; python_full_version == "3.12.7"
click==8.1.7 ; python_full_version == "3.12.7"
colorama==0.4.6 ; python_full_version == "3.12.7" and (sys_platform == "win32" or platform_system == "Windows")
coverage==7.6.7 ; python_full_version == "3.12.7"
coverage[toml]==7.6.7 ; python_full_version == "3.12.7"
dnspython==2.7.0 ; python_full_version == "3.12.7"
email-validator==2.2.0 ; python_full_version == "3.12.7"
fastapi-cli[standard]==0.0.5 ; python_full_version == "3.12.7"
fastapi[all]==0.115.5 ; python_full_version == "3.12.7"
geoalchemy2==0.16.0 ; python_full_version == "3.12.7"
geojson-pydantic==1.2.0 ; python_full_version == "3.12.7"
greenlet==3.1.1 ; python_full_version == "3.12.7"
gunicorn==23.0.0 ; python_full_version == "3.12.7"
h11==0.14.0 ; python_full_version == "3.12.7"
httpcore==1.0.7 ; python_full_version == "3.12.7"
httptools==0.6.4 ; python_full_version == "3.12.7"
httpx==0.27.2 ; python_full_version == "3.12.7"
idna==3.10 ; python_full_version == "3.12.7"
iniconfig==2.0.0 ; python_full_version == "3.12.7"
itsdangerous==2.2.0 ; python_full_version == "3.12.7"
jinja2==3.1.4 ; python_full_version == "3.12.7"
mako==1.3.6 ; python_full_version == "3.12.7"
markdown-it-py==3.0.0 ; python_full_version == "3.12.7"
markupsafe==3.0.2 ; python_full_version == "3.12.7"
mdurl==0.1.2 ; python_full_version == "3.12.7"
mimesis==4.1.3 ; python_full_version == "3.12.7"
mirakuru==2.5.3 ; python_full_version == "3.12.7"
more-itertools==10.5.0 ; python_full_version == "3.12.7"
mypy-extensions==1.0.0 ; python_full_version == "3.12.7"
mypy==1.13.0 ; python_full_version == "3.12.7"
orjson==3.10.11 ; python_full_version == "3.12.7"
packaging==24.2 ; python_full_version == "3.12.7"
pluggy==1.5.0 ; python_full_version == "3.12.7"
port-for==0.7.4 ; python_full_version == "3.12.7"
psutil==6.1.0 ; python_full_version == "3.12.7" and sys_platform != "cygwin"
psycopg-binary==3.2.3 ; implementation_name != "pypy" and python_full_version == "3.12.7"
psycopg==3.2.3 ; python_full_version == "3.12.7"
psycopg[binary]==3.2.3 ; python_full_version == "3.12.7"
pydantic-core==2.23.4 ; python_full_version == "3.12.7"
pydantic-extra-types==2.10.0 ; python_full_version == "3.12.7"
pydantic-settings==2.6.1 ; python_full_version == "3.12.7"
pydantic==2.9.2 ; python_full_version == "3.12.7"
pydantic[email]==2.9.2 ; python_full_version == "3.12.7"
pygments==2.18.0 ; python_full_version == "3.12.7"
pytest-asyncio==0.24.0 ; python_full_version == "3.12.7"
pytest-cov==6.0.0 ; python_full_version == "3.12.7"
pytest-mimesis==1.1.0 ; python_full_version == "3.12.7"
pytest-mock==3.14.0 ; python_full_version == "3.12.7"
pytest-postgresql==6.1.1 ; python_full_version == "3.12.7"
pytest==8.3.3 ; python_full_version == "3.12.7"
python-dotenv==1.0.1 ; python_full_version == "3.12.7"
python-multipart==0.0.20 ; python_full_version == "3.12.7"
pyyaml==6.0.2 ; python_full_version == "3.12.7"
rich==13.9.4 ; python_full_version == "3.12.7"
setuptools==75.6.0 ; python_full_version == "3.12.7"
shellingham==1.5.4 ; python_full_version == "3.12.7"
sniffio==1.3.1 ; python_full_version == "3.12.7"
sqlalchemy==2.0.36 ; python_full_version == "3.12.7"
sqlalchemy[asyncio]==2.0.36 ; python_full_version == "3.12.7"
starlette==0.41.3 ; python_full_version == "3.12.7"
typer==0.13.1 ; python_full_version == "3.12.7"
typing-extensions==4.12.2 ; python_full_version == "3.12.7"
tzdata==2024.2 ; sys_platform == "win32" and python_full_version == "3.12.7"
ujson==5.10.0 ; python_full_version == "3.12.7"
uvicorn[standard]==0.32.0 ; python_full_version == "3.12.7"
uvloop==0.21.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_full_version == "3.12.7"
watchfiles==0.24.0 ; python_full_version == "3.12.7"
websockets==14.1 ; python_full_version == "3.12.7"
